<!-- index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="/main.css">

</head>
<body>
    <h1>Weather App</h1>
    
    <form action="/weather" method="post">
        <label for="cityName">Please Enter City/Town Name to Search the Weather:</label>
        <input type="text" id="cityName" name="city" required>
        <button type="submit">Search</button>
    </form>


    <div class="container3">
        <footer class="py-3 my-4">
          <p class="text-center text-body-secondary">© 2024 Weather-App</p>
        </footer>
      </div>
    

</body>

</html>
