body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: floralwhite;
    padding: 20px;
    line-height: 1.6;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;
    color:darksalmon;
}

form{
    text-align: center;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.5em;
}

input{
    padding: 10px;
    margin: 10px 0 10px 0;
    border: 1.5px solid black;
    border-radius: 4px;
}

button{
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    background-color: skyblue;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
}

#weatherInfo{
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color:bisque;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container{
    display: flex;
    font-size: 1em;
    justify-content: space-evenly;
    margin: 30px 10px 10px 10px;
}

.container2{
    border-radius: 10px;
    border: 1px solid burlywood;
    width: 300px;
    height: 200px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container p {
    justify-content: center;
    font-size: 1.5em;
    text-align: center;
    display: flex;
    margin-top: 70px;
}

.container3{
    text-align: center;
}

.container3 p{
    font-size: 1.5em;
}

h2{
    font-size: 3em;
    padding: 10px;
    margin: 5px;
}

h3{
    font-size: 2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: olive;
    margin: 10px;
}

.input-text{
    color:brown;
}
.generate-tem{
    color: brown;
}